@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

html,body{
    font-size: medium;
    color: inherit;
}

p,h3,h5,li{
    color: #333333;
}


img{
    width: 220px;
}







